@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: white;
}

.container {
  width: 100%;
  padding: 20px;
}

@media (min-width: 576px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}

/* Media query for screens wider than 768px (small desktops and larger) */
@media (min-width: 768px) {
  .container {
    max-width: 1280px;
  }
}
